@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem;
}

.home {
  min-width: 1200px;
}
